.App {
  text-align: center;
  background-image: url('./waves.jpg');
  background-size: cover;
  height: 100vh;
}
.welcome-page{
  /* background-image: url('./waves.jpg'); */

  height: 35vh;
  width: 70vh;
  margin-top: 14% ;
  margin-left: 31%;
  position: absolute;
  border-radius: 10px;
  border:1px solid yellowgreen;
  color:yellowgreen;
  display: flex;
  text-align: center;
  padding:10px;
}
.welcome-page .left{
  padding:10px;
  left: 0;
  width:38%;
  display: block;
  font-size: 36px;
  margin:auto;
  font-weight:600;
}
.welcome-page .right{
  padding:10px;
  right: 0;
  width: 62%;
  display: flexbox;
  font-size: 36px;
  margin:auto;
  font-weight:600;
}
.sign-up{
  font-size: 30px;
  font-weight: 600;
  padding:18px;
  margin:7px;
  background-color: yellowgreen;
  border:none;
  border-radius: 10px;
  color:#000000;

}
.sign-in{
  font-size: 30px;
  font-weight: 600;
  padding:18px;
  margin:7px;
  background-color: yellowgreen;
  border:none;
  border-radius: 10px;
  color:#000000;

}
.sign-up:hover{
  cursor: pointer;
  background-color:#131819;
  color:yellowgreen;
}
.sign-in:hover{
  cursor: pointer;
  background-color:#131819;
  color:yellowgreen;
}
.sign-in:active{
  border:none;
}
